<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel = "stylesheet" th:href ="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>NoteIt</title>
</head>

<body>
<div class="header">
    <img th:src="@{/image/logo.jpg}" alt="logo">
    <h1><i>NoteIt</i></h1>
    <p><i>For all your note-taking needs</i></p>
    <hr size="3" width="100%" color="black">
</div>

<div class="title_name">
    <h1>Create a New Note</h1>
    <a href='http://localhost:8080/notes'><button type="button" class="button_1">Back</button></a>
</div>
<div class="title_bar">

    <form method="POST" action="/create">
        <table>
            <tr>
                <th class="title_barh">Title:</th><td><textarea  input type="text" name="title" class="title" style="resize: none"></textarea></td>
            </tr>
            <tr>
                <th class="title_barj">Note:</th><td ><textarea input type="text" name="note" class="note" style="resize: none"></textarea></td>
            </tr>
            <button  type="submit" class="button_2"> Create Note </button>
        </table>
    </form>
</div>

</body>
</html>